section {
  height: 100%;
  padding: 0% 20% 0% 20%;
  background-image: url("./Fall-Background-Image.jpeg");
}
.prof {
  background-color: #d8c299;
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: calc(10px + 1.5vmin);
  color: white;
  box-shadow: 5px 5px 20px #aa6307;
  padding: 20px;
  margin: auto;
}

img {
  width: 150px;
  height: 170px;
  margin: 10px 0px 0px 0px;
  border-radius: 90px;
  filter: brightness(0.7);
}
button {
  border: none;
  border-radius: 20px;
  background-color: #c26c0b;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0px;
  cursor: pointer;
  box-shadow: 5px 10px 18px #aa6307;
}
button:hover {
  background-color: #9e5e5e;
  color: #fff;
}
h1 {
  border: 1px solid #aa4807;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(202 66 26);
  font-weight: 350;
  opacity: 0.85;
}
h4 {
  border: 1px solid #aa4807;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(202 66 26);
  font-weight: 350;
  opacity: 0.85;
}
p {
  border: 1px solid #aa4807;
  padding: 10px;
  opacity: 0.85;
  font-weight: 350;
  border-radius: 7px;
  background-color: rgb(202 66 26);
}
